/SwedenFemalesIQR1900_2000.pdf
/SwedenFemalesKurt1900_2000.pdf
/SwedenFemalesSkew1900_2000.pdf
/SwedenFemalesVar1900_2000.pdf
/SwedenFemalesCV1900_2000.pdf
/SwedenFemalesCV1900_2000_Poster.pdf
/SwedenFemalesKurt1900_2000_Poster.pdf
/SwedenFemalesSD1900_2000_Poster.pdf
/SwedenFemalesSkew1900_2000_Poster.pdf
